<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GrinMediaInfo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <GrinMediaInfo.Properties.Settings>
            <setting name="path" serializeAs="String">
                <value />
            </setting>
            <setting name="extension" serializeAs="String">
                <value>aaf 3gp asf avchd avi cam flv m1v m2v fla flr sol m4v mkv wrap mng mov mpeg mpg mpe mxf roq nsv ogg rm svi smi swf wmv mp4</value>
            </setting>
            <setting name="pathBackup" serializeAs="String">
                <value />
            </setting>
        </GrinMediaInfo.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
